.mobile-only {
    display: none;
}

#industry {
    min-width: 900px;
}

#testimonial div {
    padding: 5em 14em 4em 14em;
}

#footer-columns {
    justify-content: space-around;
}

#footer-columns div:nth-child(-n+3) {
    max-width: 30%;
}

#footer-terms {
    margin: 3em 0 2em 5em;
    text-align: left;
}
